body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #c1feec 50%, #f2fffb );
    color: #333;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    background-color: #088F8F;
    color: #fff;
    padding: 20px 0;
    
}

header h1 {
    margin: 0;
    font-size: 2em;
    text-align: center;
}
header h1 a {
    color: #ffffff;
}

footer {
    background-color:  #088F8F;
    color: #fff;
    padding: 20px;
    margin-top: 80px ;
}

.login-container, .register-container {
    display: flexbox;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-container h2, .register-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.links {
    margin-top: 15px;
}

.links a {
    display: block;
    margin-top: 5px;
    color: #007bff;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}

