/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #c1feec 50%, #f2fffb);
    color: #333;
    min-height: 100vh; /* Ensure background covers the full viewport height */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #088F8F;
    color: #fff;
    padding: 0;
    text-align: center;
}

header h1 {
    margin: 0 50px 0;
    font-size: 2em;
    text-align: left;
}

header h1 a {
    color: #ffffff;
    text-decoration: none;
}

nav {
    position: relative;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Mobile menu toggle button */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Responsive navigation */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #088F8F;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .menu-toggle {
        display: flex;
    }
}

.hero {
    margin: auto;
    padding: 10px;
    text-align: center;
}

.hero h2 {
    margin: 10px 10px;
    font-size: 2.5em;
}

.hero p {
    margin: 10px 50px;
    font-size: 1.2em;
}

.btn-primary {
    background-color: #00a0dc;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0073b1;
}

.featured-opportunities,
.upcoming-events {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.featured-opportunities h2,
.upcoming-events h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.opportunity,
.event {
    margin-bottom: 20px;
}

.opportunity h3,
.event h3 {
    margin: 0 0 10px;
    font-size: 1.4em;
}

.btn-secondary {
    background-color: #00a0dc;
    color: #fff;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-secondary:hover {
    background-color: #0073b1;
}

.join-us {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#opportunities-list {
    margin-top: 20px;
}

.opportunity {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #f9f9f9;
}

.opportunity h3 {
    margin-top: 0;
}

footer {
    background-color: #088F8F;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 80px;
}

#events-list {
    margin-top: 20px;
}

.event {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow here */
    transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.event:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
}

.event h3 {
    margin-top: 0;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-box h3 {
    margin-top: 0;
}

.login-box form {
    display: flex;
    flex-direction: column;
}

.login-box label {
    margin: 10px 0 5px;
}

.login-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1A237E;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background-color: #FF7F50;
}

.register-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
}

.login-container h2,
.register-container h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#profile-info {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

#search-button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #77c4d3;
    color: white;
    cursor: pointer;
}

#search-button:hover {
    background-color: #66aabb;
}

.container {
    display: flex;
    flex-direction: column;
}

.profile-info,
.timeline {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.profile-info h1 {
    margin-top: 0;
}

.profile-info img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.timeline svg {
    width: 40px;
    height: 100%;
}

.timeline-content {
    padding-left: 60px;
    line-height: 25px;
}

.checkpoint {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkpoint:last-child {
    margin-bottom: 0;
}

.checkpoint h3 {
    margin: 0;
}

.checkpoint p {
    margin: 5px 0 0;
    color: #555;
}

.checkpoint .date {
    font-size: 0.8em;
    color: #888;
    margin-left: 5px;
}

.profile-info .skills {
    margin-top: 20px;
}

.profile-info .skills h2 {
    margin-bottom: 10px;
}

.profile-info .skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-info .skills li {
    background: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    display: inline-block;
}

/* Responsive Profile and Timeline */
@media (min-width: 769px) {
    .container {
        flex-direction: row;
    }

    .profile-info,
    .timeline {
        width: 48%;
    }

    .timeline {
        margin-left: 4%;
    }
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
}

form input,
form textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #77c4d3;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #66aabb;
}

#postsContainer {
    margin-top: 20px;
}

.post {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post h3 {
    margin-top: 0;
}
